<div class="wrapper" style="background-color: #abdde5">
  <div class="container main">
    <form>
      <div class="row align-content-center">
        <div class="col-md-6 float-left">
          <div class="input-box">
            <div class="input-field">
              <input type="text" class="input" id="name" required autocomplete="off">
              <label for="name">Họ tên</label>
            </div>
            <div class="input-field">
              <input type="text" class="input" id="userName" required autocomplete="off">
              <label for="userName">Tên đăng nhập</label>
            </div>
            <div class="input-field">
              <input type="password" class="input" id="password" required>
              <label for="password">Mật khẩu</label>
            </div>
            <div class="input-field">
              <input type="password" class="input" id="confirmPassword" required>
              <label for="confirmPassword">Nhập lại mật khẩu</label>
            </div>
          </div>
        </div>

        <div class="col-md-6 float-right">
          <div class="input-box">
            <div class="input-field">
              <input type="date" class="input" id="dateOfBirth" required>
              <label for="dateOfBirth">Ngày sinh</label>
            </div>
            <div class="input-field">
              <input type="text" class="input" id="email" required>
              <label for="email">Email</label>
            </div>
            <div class="input-field">
              <input type="text" class="input" id="address" required>
              <label for="address">Địa chỉ</label>
            </div>
            <div class="input-field">
              <input type="text" class="input" id="phone" required>
              <label for="phone">Số điện thoại</label>
            </div>
          </div>
        </div>
        <div class="input-field col-md-2">
          <input type="submit" class="submit" value="Đăng ký">
        </div>
      </div>


    </form>

  </div>
</div>


