<div class="container-fluid pt-5">
  <div class="row px-xl-6 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
        <h5 class="font-weight-semi-bold m-0">Giao hàng thần tốc</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Cam kết 01 đổi 01</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Hổ trợ chuyên nghiệp</h5>
      </div>
    </div>
  </div>
</div>
<!-- Page Content -->

<div class="container bg-white">
  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid p-0">
      <a class="navbar-brand text-uppercase fw-800" href="#">
        Sản phẩm mới
<!--        <span class="border-red pe-2">bán chạy </span>-->
      </a>
    </div>
  </nav>
  <div class="row">
    <div *ngFor="let p of productList" class="col-lg-3 col-sm-6 rating d-flex flex-column align-items-center justify-content-center product-item my-3" [routerLink]="['/product/detail',p.id]">
      <div class="product">
        <img src="{{p.image}}"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon" (click)="addToCart(p)">
            <i class="fas fa-shopping-cart text-primary"></i>
          </li>
<!--                              <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
<!--                              <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
        </ul>
      </div>
<!--      <div class="tag bg-red">sale</div>-->
      <div class="title pt-4 pb-1">{{p.name}}</div>
      <div class="d-flex align-content-center justify-content-center stars">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="price">{{p.price| currency:'VND':''}}<span style="font-size: 10px">/Kg</span></div>
    </div>
    <div class="col-12">
      <a style="cursor: pointer; margin-left: 48%; color: #f44336; text-decoration: none" type="button"
         (click)="getAll(size+1)" *ngIf="!last">
        <i class="fas fa-angle-double-down" style="font-size: 30px"></i><br>
      </a>
      <a style="cursor: pointer; margin-left: 48%; color: #f44336; text-decoration: none" type="button"
         (click)="getAll(size-1)" *ngIf="last">
        <i class="fas fa-angle-double-up" style="font-size: 30px" (click)="scrollProduct()"></i><br>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid offer pt-5">
  <div class="row px-xl-5">
    <div class="col-md-6 pb-4">
      <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
        <img src="img/offer-1.png" alt="">
        <div class="position-relative" style="z-index: 1;">
          <h5 class="text-uppercase text-primary mb-3">Giảm giá lên đến 20%</h5>
          <h1 class="mb-4 font-weight-semi-bold">Món ngon chỉ từ 99k</h1>
          <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Đặt ngay</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 pb-4">
      <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
        <img src="img/offer-2.png" alt="">
        <div class="position-relative" style="z-index: 1;">
          <h5 class="text-uppercase text-primary mb-3">Miễn phí giao hàng</h5>
          <h1 class="mb-4 font-weight-semi-bold">Giao hàng thần tốc</h1>
          <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Đặt ngay</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-white">
  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid p-0">
      <a class="navbar-brand text-uppercase fw-800" href="#">
        Sản phẩm
        <span class="border-red pe-2">bán chạy
                </span>
      </a>

    </div>
  </nav>
  <div class="row">
    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
      <div class="product">
        <img src="https://product.hstatic.net/1000030244/product/king_acb9ccc565264c229197e2680892898d_grande.jpg"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon">
            <i class="fas fa-shopping-cart text-primary"></i>
          </li>
          <!--                    <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
          <!--                    <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
        </ul>
      </div>
      <div class="tag bg-red">sale</div>
      <div class="title pt-4 pb-1">Cua Hoàng Đế - King Crab Sống</div>
      <div class="d-flex align-content-center justify-content-center">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>

      </div>
      <div class="price">$ 600.0</div>
    </div>
    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
      <div class="product">
        <img src="https://product.hstatic.net/1000030244/product/ghe_6093c9d1438442aebf5e2fe7423ea47a_grande.jpg"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon">
            <i class="fas fa-shopping-cart text-primary"></i>

          </li>
        </ul>
      </div>
      <div class="tag bg-black">sale</div>
      <div class="title pt-4 pb-1">Ghẹ Xanh Sống</div>
      <div class="d-flex align-content-center justify-content-center">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
      <div class="price">$ 55.0</div>
    </div>
    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
      <div class="product">
        <img src="https://product.hstatic.net/1000030244/product/tom-cang-xanh_2de015440edc4ddea5460b3e7883041f_grande.jpg"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon">
            <i class="fas fa-shopping-cart text-primary"></i>

          </li>
        </ul>
      </div>
      <div class="tag bg-green">new</div>
      <div class="title pt-4 pb-1"> Tôm Càng Xanh Sống</div>
      <div class="d-flex align-content-center justify-content-center">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
      <div class="price">$ 70.0</div>
    </div>
    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
      <div class="product">
        <img src="https://product.hstatic.net/1000030244/product/ca-chim-trang_047ec7ae8cf543839a7488264edba489_grande.png"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon">
            <i class="fas fa-shopping-cart text-primary"></i>

          </li>
        </ul>
      </div>
      <div class="title pt-4 pb-1">Cá Chim Trắng Sống</div>
      <div class="d-flex align-content-center justify-content-center">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
      <div class="price">$ 60.0</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
      <div class="product">
        <img src="https://product.hstatic.net/1000030244/product/267756543_761227775279113_3779885466913377812_n__3__93bb8ead2f7644efbc3e54d2090e9c50_grande.png"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon">
            <i class="fas fa-shopping-cart text-primary"></i>
          </li>
        </ul>
      </div>
      <div class="tag bg-red">sale</div>
      <div class="title pt-4 pb-1">Tôm Mũ Ni Đông Lạnh 5-7 Con</div>
      <div class="d-flex align-content-center justify-content-center">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
      <div class="price">$ 60.0</div>
    </div>
    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
      <div class="product">
        <img src="https://product.hstatic.net/1000030244/product/118580945_646182196022290_6552669450736221927_n_01ae03f6de91401e854ee0c537b7987d_grande.jpg"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon">
            <i class="fas fa-shopping-cart text-primary"></i>

          </li>
        </ul>
      </div>
      <div class="tag bg-black">out of stock</div>
      <div class="title pt-4 pb-1">Cá Tuyết Alaska Nguyên Con</div>
      <div class="d-flex align-content-center justify-content-center">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
      <div class="price">$ 55.0</div>
    </div>
    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
      <div class="product">
        <img src="https://product.hstatic.net/1000030244/product/59d8e87f-f840-4c25-bb4a-097780781c76_49bbbbec1bed47d9b9de86b1f75057ac_grande.jpg"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon">
            <i class="fas fa-shopping-cart text-primary"></i>

          </li>
        </ul>
      </div>
      <div class="title pt-4 pb-1"> Trứng Cá Tầm Imperial Caviar</div>
      <div class="d-flex align-content-center justify-content-center">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
      <div class="price">$ 70.0</div>
    </div>
    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">
      <div class="product">
        <img src="https://product.hstatic.net/1000030244/product/untitled-1_6cda2461e8d24015b03691bef9cf924f_grande.jpg"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon">
            <i class="fas fa-shopping-cart text-primary"></i>

          </li>
        </ul>
      </div>
      <div class="tag bg-green">new</div>
      <div class="title pt-4 pb-1">Cá Tầm Sống</div>
      <div class="d-flex align-content-center justify-content-center">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>
      <div class="price">$ 60.0</div>
    </div>
  </div>
</div>
