<div class="container-fluid pt-5">
  <div class="row px-xl-6 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Sản phẩm chất lượng</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
        <h5 class="font-weight-semi-bold m-0">Giao hàng thần tốc</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Cam kết 01 đổi 01</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
        <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">
          Tư vấn nhiệt tình
        </h5>
      </div>
    </div>
  </div>
</div>
<!-- Page Content -->

<div class="container bg-white">
  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid p-0">
      <a class="navbar-brand text-uppercase fw-800" href="#">
        Sản phẩm mới
<!--        <span class="border-red pe-2">bán chạy </span>-->
      </a>
    </div>
  </nav>
  <div class="row">
    <div *ngFor="let p of productList" class="col-lg-3 col-sm-6 rating d-flex flex-column align-items-center justify-content-center product-item my-3" >
      <div class="product">
        <img src="{{p.image}}" [routerLink]="['/product/detail',p.id]"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon" (click)="addToCart(p.id)">
            <i class="fas fa-shopping-cart text-primary"></i>
          </li>
<!--                              <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
<!--                              <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
        </ul>
      </div>
<!--      <div class="tag bg-black">Hết hàng</div>-->
      <div class="title pt-4 pb-1">{{p.name}}</div>
      <div class="d-flex align-content-center justify-content-center stars">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="price">{{p.price| currency:'VND':''}}<span style="font-size: 10px">/Kg</span></div>
    </div>
    <div class="col-12">
      <a style="cursor: pointer; margin-left: 48%; color: #f44336; text-decoration: none" type="button"
         (click)="getAll(size+4)" *ngIf="!last">
        <i class="fas fa-angle-double-down" style="font-size: 30px"></i><br>
      </a>
      <a style="cursor: pointer; margin-left: 48%; color: #f44336; text-decoration: none" type="button"
         (click)="getAll(size=4)" *ngIf="last">
        <i class="fas fa-angle-double-up" style="font-size: 30px"></i><br>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid offer pt-5">
  <div class="row px-xl-5">
    <div class="col-md-6 pb-4">
      <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
        <img src="img/offer-1.png" alt="">
        <div class="position-relative" style="z-index: 1;">
          <h5 class="text-uppercase text-primary mb-3">Giảm giá lên đến 20%</h5>
          <h1 class="mb-4 font-weight-semi-bold">Giá rẻ bất ngờ</h1>
          <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Đặt ngay</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 pb-4">
      <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
        <img src="img/offer-2.png" alt="">
        <div class="position-relative" style="z-index: 1;">
          <h5 class="text-uppercase text-primary mb-3">Miễn phí giao hàng</h5>
          <h1 class="mb-4 font-weight-semi-bold">Giao hàng nhanh</h1>
          <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Đặt ngay</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-white">
  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid p-0">
      <a class="navbar-brand text-uppercase fw-800" href="#">
        Sản phẩm
        <span class="border-red pe-2">bán chạy
                </span>
      </a>

    </div>
  </nav>
  <div class="row">
    <div *ngFor="let product of sellingProductList" class="col-lg-3 col-sm-6 rating d-flex flex-column align-items-center justify-content-center product-item my-3" >
      <div class="product">
        <img src="{{product.image}}" [routerLink]="['/product/detail',product.id]"
             alt="">
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon" (click)="addToCart(product.id)">
            <i class="fas fa-shopping-cart text-primary"></i>
          </li>
          <!--                              <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
          <!--                              <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
        </ul>
      </div>
      <!--      <div class="tag bg-black">Hết hàng</div>-->
      <div class="title pt-4 pb-1">{{product.name}}</div>
      <div class="d-flex align-content-center justify-content-center stars">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="price">{{product.price| currency:'VND':''}}<span style="font-size: 10px">/Kg</span>
      </div>

    </div>
  </div>
</div>
