
<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
  <div class="row px-xl-5 pt-5">
    <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
      <img src="https://elements-cover-images-0.imgix.net/1df78dfe-1c45-4d9e-8ebc-5709a60eb9a1?auto=compress&crop=edges&fit=crop&fm=jpeg&h=630&w=1200&s=c1d5063145edcc73926f0dfa9a2d4abf"
           alt="Avatar Logo" style="width:80%" class="rounded-pill">

    </div>
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-5">
          <h5 class="font-weight-bold text-dark mb-4">CHÍNH SÁCH</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách
              thanh toán</a>
            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách vận
              chuyển</a>
            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách
              đổi trả</a>
            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Chính sách bảo
              hành</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <h5 class="font-weight-bold text-dark mb-4">HỖ TRỢ</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Hướng dẫn
              mua hàng</a>
            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Giao nhận và
              thanh toán</a>
            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đổi trả và
              bảo hành</a>
            <a class="text-dark mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đăng ký thành
              viên</a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>280 Trần Hưng Đạo, Sơn Trà, Đà Nẵng,
            Việt Nam</p>
          <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>seafood@gmail.com</p>
          <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>1900 0098</p>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Footer End -->
